* {
    margin: 0px;
    padding: 0px;
    font-family: Roboto, sans-serif;
    color:#fcfcfc;
}

.backgorund-img{
    background-image: url("../img/pc_z5.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
