* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #1f1f1f;
  gap: 0 0;
}
#header {

  grid-area: 1 / 1 / 2 / 3;
  text-align: center;
  font-size: calc(20px + 2vmin);
  background-image: url("../img/dark-keybord.jpg");
  height: 50vh;
}
.section-header {
  background-color: rgb(51, 51, 51);
  padding: 1.5rem 1rem;
  margin: 60px 30px 1rem;
  text-align: center;
  color: white;
  font-weight: 700;
  box-shadow: var(--default-shadow);

}
.section-header-transparent {
  background-color: rgba(51, 51, 51, 0.43);
  text-align: center;
  color: white;
  font-weight: 700;
  box-shadow: var(--default-shadow);
  /* Center it in the Middle of the header */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(30px + 2vmin);
}
