* {
  background-color: #232323;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;

}

h1 {
  padding: 1.5rem 1rem;
  margin: 30px 60px 10px;
  text-align: center;
  color: #fcfcfc;
  font-weight: 700;

}

h2 {
  padding: 1rem 1rem;
  margin: 30px 200px 10px;
  text-align: center;
  color: #fcfcfc;
  font-weight: 700;

}

a {
  background-color: transparent;
  color: white;
  font-size: 20px;
}

.text {
  margin: 60px;
}

.id {

  background-color: transparent;
  text-align: center;
  color: #fcfcfc;
  font-weight: 700;
  font-size: 25px;

}

.☺ {
  background-image: url("img/setup-modern.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 250px;
  grid-auto-flow: row dense;
}

.bottom {
  filter: none;
  padding: 5px;
  margin-left: 20px;
  line-height: 40px;
}

.☻ {
  filter: none;
  background-color: rgba(25, 35, 35, 0.6);
  margin-right: 20px;
  text-align: center;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
}


.logo {
  filter: none;
  color: white;
  transform: translateY(20px);
  align-self: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0);

}
