* {
  margin: 0px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  color: #fcfcfc;

}

body {
  background-image: url("../img/gamingpc_f1.png");
  background-size: cover;
  background-repeat: no-repeat; 
}

.impressum {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgba(34, 34, 34, 0.651);
}

.text {
  text-align: justify;
  margin-left: 25px;
  margin-right: 25px;
  background-color: rgba(34, 34, 34, 0.651);
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}
