* {
  background-color: #23232398;
  margin: 10px;
  padding: 0px;
  font-family: Roboto, sans-serif;
  color:#fcfcfc;

}

.impressum{
  text-align: center;
  margin-left: 600px;
  margin-right: 600px;
}

.text{
  text-align: justify;
  margin-left: 600px;
  margin-right: 600px;
}

.img{
  background-image: url("../img/setup-modern.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}