* {
  color: white;
  font-family: Roboto, sans-serif;
}

body {
  background-image: url("../img/kontakt_z.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;

}

.überschrift {
  text-align: center;
  font-size: 60px;
  text-shadow: 0px 0px 30px rgba(1, 75, 80, 0.973);
}

#left {
  float: left;
  width: 600px;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.85);
  margin-left: 550px;
  padding-left: 60px;
}

#right {
  float: right;
  width: 600px;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.85);
  margin-right: 550px;
  padding-left: 60px;
}

.spaltenüberschrifftlinks {
  font-size: 40px !important;
  text-align: left;
}

.spaltentextlinks {
  text-align: left;
  font-size: 20px !important;
}

.spaltenüberschrifftrechts {
  font-size: 40px !important;
  text-align: left;
}

.spaltentextrechts {
  text-align: left;
  font-size: 20px !important;
}
