/*
https://www.coburger-computerservice.de/
 */
* {
  padding: 0;
  margin: 0;
}

:root {
  --default-background: rgb(51, 51, 51);
  --default-text: white;
  --default-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  --text-shadow: 0 0 5px black;
  --default-hover: #1796b7;
  --default-grayout: #9d9d9d;
  --dark-background: #1f1f1f;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  justify-content: center;
  max-width: 100%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100vh auto auto auto auto auto auto auto auto;
  grid-auto-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    "header header"
    "navbar navbar"
    "item-list item-list"
    "maps maps"
    "about about"
    "footer footer"
    "• •"
    "◘ ◘"
    "○ ○";
}

.header {
  grid-area: header;
  text-align: center;
  background-color: var(--default-background);
  z-index: 1;
  background-image: url("../img/dark-keybord.jpg");
  background-size: 100%;

}

.header > .titel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 99;
  color: var(--default-text);
  text-align: center;
  pointer-events: none;

}

.t1 {
  font-size: 30px;
  text-shadow: var(--text-shadow);
}


.rotator-wrapper span span {
  position: absolute;
  font-size: 60px;
  transform: translate(-50%, -50%);
  justify-content: center;
  opacity: 0;
  text-shadow: var(--text-shadow);
  animation: rotateWord 18s linear infinite 0s;
  color: var(--default-text);
}

.rotator-wrapper span span:nth-child(2) {
  animation-delay: 3s;
}

.rotator-wrapper span span:nth-child(3) {
  animation-delay: 6s;
}

.rotator-wrapper span span:nth-child(4) {
  animation-delay: 9s;
}

.rotator-wrapper span span:nth-child(5) {
  animation-delay: 12s;
}

.rotator-wrapper span span:nth-child(6) {
  animation-delay: 15s;
}

@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
  }
  5% {
    opacity: 1;
  }
  15% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}


.header > .titel > hr {
  margin: 15px 5%;
  color: var(--default-color);
  background-color: var(--default-background);
  height: 2px;

}

.header > .titel > .hr2 {
  margin: 15px 2.5%;
  height: 2px;
  color: var(--default-color);
  background-color: var(--default-background);
}

.navbar {
  grid-area: navbar;
  background: #2e2e2e;
  z-index: 2;

}

.navbar-fixed {
  position: fixed;
  z-index: 999;
}

nav {
  font-family: Roboto, sans-serif;
  font-weight: bold;
  width: 100%;
  color: var(--default-text);
  background: var(--dark-background);
  letter-spacing: 0.025em;

}

nav:hover {
  color: var(--default-grayout);

}

nav > ul {
  text-align: center;
  margin: 0;
}

nav > ul > li {
  display: inline-block;
  padding: 0 3em;
  line-height: 3em;
  transition: 0.5s;
}

nav > ul > li:hover {
  background: var(--default-hover);
  transform: translateY(0);
  transition: 0.5s;
}

.item-list {
  grid-area: item-list;
  background: var(--default-background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}


.section-header {
  background-color: var(--default-background);
  padding: 1.5rem 1rem;
  margin: 60px 30px 1rem;
  text-align: center;
  color: var(--default-text);
  font-weight: 700;
  box-shadow: var(--default-shadow);

}

.section-header-s {
  background-color: var(--default-background);
  padding: 1.5rem 1rem;
  margin: 20px 30px 1rem;
  text-align: center;
  color: var(--default-text);
  font-weight: 700;
  box-shadow: var(--default-shadow);

}

.list-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.list-box .card {
  width: 32%;
  text-align: center;
  position: relative;
  max-width: 300px;
  min-width: 300px;
  padding: 30px;
  float: bottom;

}

.list-box > .card > .body {
  background-color: var(--default-background);
  color: var(--default-text);
  padding: 1rem;
  box-shadow: var(--default-shadow);

}

.list-box > .card > .body > h1 {
  padding-bottom: 5px;
}

.list-box > .card > .body > p {
  text-align: justify;
  hyphens: auto;
}

.list-box .card hr {
  height: 10px;
  padding-bottom: -10px;
  margin: 0;
  border: transparent;
  color: var(--default-background);
  background-color: var(--default-background);
  transition: 1s;
}

.list-box .card:hover hr {
  height: 10px;
  padding-bottom: -10px;
  margin: 0;
  transition: 1s;
  border: transparent;
  color: var(--default-hover);
  background-color: var(--default-hover);
}


.list-box .card .head,
.list-box .card .body {
  background-color: var(--default-background);
  color: var(--default-text);
  padding: 1rem;
  box-shadow: var(--default-shadow);

}

.list-box > .card > .body > img {
  transition: 1s;
  border-radius: 20px;
  width: 100%;
}

.list-box > .card:hover > .body > img {
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -ms-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);

  transition: 1s;
}

.maps {
  grid-area: maps;
  background: #2e2e2e;
  z-index: 3;
}

.about {
  grid-area: about;
  background: #333;

}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

}

.container2 {
  width: 1000px;
  position: relative;
  justify-content: space-between;
  display: flex;

}

.container2 .card {
  position: relative;
  cursor: pointer;
}

.container2 .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;
}

.container2 .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container2 .card:hover .face.face1 {
  background: var(--default-hover);
  transform: translateY(0);
}

.container2 .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
  text-align: center;
}

.container2 .card:hover .face.face1 .content {
  opacity: 1;
}

.container2 .card .face.face1 .content img {
  max-width: 100px;
}

.container2 .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: var(--default-text);
  text-align: center;
  font-size: 1.5em;
}

.container2 .card .face.face2 {
  position: relative;
  background: var(--default-text);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: var(--default-shadow);
  transform: translateY(-100px);
}

.container2 .card:hover .face.face2 {
  transform: translateY(0);
}

.container2 .card .face.face2 .content p {
  margin: 0;
  padding: 0;
}

.container2 .card .face.face2 .content a {
  margin: 15px 0 0;
  display: var(--default-background);
  text-decoration: none;
  font-weight: 900;
  color: var(--default-background);
  padding: 5px;
  border: 1px solid #333;
}

.container2 .card .face.face2 .content a:hover {
  background: #333;
  color: var(--default-text);
}

.footer {
  grid-area: footer;
  background-color: var(--default-background);
  height: auto;
  text-align: center;
  padding-bottom: 30px;
  color: var(--default-text);

}

.footer > h1 {

  text-align: center;
  font-size: 30px;
  color: var(--default-text);
}

.footer > a {
  text-align: center;
  font-size: 15px;
  color: var(--default-text);
}
