*{
    font-family: Roboto, sans-serif;
    color: white;
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/server-row1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
}

.schatten{
    background-color: rgba(0, 0, 0, 0.7);
    padding-left: 50px;
    padding-right: 50px;
}

.überschrift{
    font-size: 40px;
    text-align: left;

}

.text{
    font-size: 20px;
    text-align: justify;
}

.überschrifft-1{
    font-size: 40px;
    text-align: left;

}

.text-1{
    font-size: 20px;
    text-align: justify;
}

.überschrifft-2{
     font-size: 40px;
    text-align: left;
    ;
}

.text-2{
    font-size: 20px;
    text-align: justify;

}

.grauer-hintergrund{
    background-color: #1f1f1f;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.überschrifftdiemaausnamsweisefunktioniert{
    font-size: 40px; 
})